*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: #FFF8F3 ;
    padding-top: 20px ;
    padding-left: 30px;
    
}

.body{
    background-color: #FFF8F3 ; 
}

.container{
    max-width: 1320px;
    margin: auto;
}
.container-fluid{
    justify-content: space-between !important;
}
.navbar-nav{
    gap: 51px;
}
.navImage{
    padding: 35px 0;
}

.navBtn{
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    

}

.bodyImagePart{
    position: relative;
    padding-bottom: 0;
    padding-right: 0;
    
}

.backImage{
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    margin-top: 100px;
 
}
    
.bodyImage{
    position: absolute;
    max-width: 800px;
    max-height: 500px;
    margin-top: -25px;
    margin-left: 100px;

}


.row{
    display: flex !important;
}
.developerImage{
    position: absolute;
    max-height: 500px;
    
}

.TextPart h3{
    font-size: 45px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
    padding-top: 100px;
}
.TextPart h1{
    font-size: 85px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}
.TextPart p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: black;
    margin-bottom: 20px;
    max-width: 500px;
}
.donloadBtn{
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    margin-bottom:70px ;
}

.contactBtn{
    border: 1px solid #FD6E0A;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FD6E0A;
    align-items: center;
}
.TextPart{
    
    padding-right: 0px;
    padding-bottom: 0px;
}
#bodyPart{
    background-color: #FFF8F3 ;
    position: relative;
    padding-bottom: 0;
    padding-left: 0;


}



#about{
    
    padding: 131px 0;
}
.aboutPartHead{
    background-color: #FFF8F3 ; 
    
}


.aboutText{
    padding-top: 100px;
    font-size: 35px;
    font-weight: 800;
    color: black;
   
   
}

.aboutPara{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 827px;
    color: #757575;
    padding: 30px 0px;
    
   
}

.aboutPart h4{
 font-size: 20px;
 font-weight: 400;
 line-height: 30px;
 align-items: center;
}
.aboutPart h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
   }



.whatIdoHeader{
    font-size: 35px;
    font-weight: 800;
    color: black;
    
   }
   .whatIdoPara{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 827px;
    color: #757575;
    padding-top: 30px;
    margin-bottom: 50px;
   }

   .row{
    justify-content: space-between;
    
   }

   .whatJS{
    background-color: #FFFFFF ;
    filter: drop-shadow(0 0 0.75rem rgb(236, 226, 228));
    max-width: 267px;
    
    margin-bottom: 100px;

   }
   .JSlogo{
    max-width: 60px;
    max-height: 60px;
    margin: 30px 0;
    padding-left: 30px;

   }
   .whatJS h4{
    font-size: 20px;
    font-weight: 800;
    color: black;
    padding-left: 30px;
    
   }
   .whatJS p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding-left: 30px;
    margin: 30px 0;
   }

   .summaryPart{
    font-size: 35px;
    font-weight: 800;
    color: black;
   
    margin-bottom: 113px;
   }
   .summaryPartDetails h3{
    font-size: 30px;
    font-weight: 800;
    color: #474747 ;
    margin-bottom: 30px;
   }
   .summaryPartDetails h4{
    font-size: 25px;
    font-weight: 800;
    color: #474747 ;
    margin-bottom: 10px;
   }
   .summaryPartDetails h5{
    font-size: 20px;
    font-weight: 600;
    color: #757575 ;
    margin-bottom: 10px;
   }
   .summaryPartDetails p{
    font-size: 16px;
    font-weight: 400;
    color: #757575 ;
    margin-bottom: 30px;
   }
   .summaryBtn{
    border: none;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    margin-bottom:131px ;
    margin-left: 600px;
   }

   #footer{
    background-color: #FFF8F3 ;
    padding-top: 100px;
   }